.box{
     color: blue; 
     margin: 0px 100px; 
     padding: 0px 80px; 
     border: 2px; 
     border-style: dashed; 
     display: flex;
     justify-content: center;
    width: 200px;
    height: 200px;
    
}