

h4{
    color: chocolate;
}
.center{
    
    font-size:xx-large;
    font-weight: bolder;
    font-style: normal;
    color: aliceblue;
    text-align: center;
    border: 30px;
}
body{
    background-image: url("img/wallpaperflare.com_wallpaper.jpg");
    color: antiquewhite;
}


